body{
  background: #121726;
  color: #34C1FE;
}

.text-center{
  text-align: center;
}
.mx-3{
  margin-right: 15px;
  margin-left: 15px;
}
.button{
  display: inline-block;
  background: #34C1FE55;
  border:1px solid #80D9FF;
  box-shadow: 0px 0px 20px rgba(66, 198, 255, 0.63), inset 0px 0px 27px 10px rgba(35, 86, 107, 0.25);
  padding: 10px 15px;
  margin: 0 15px;
  border-radius: 50px;
  width: 10px;
  cursor: pointer;
  &:hover{
    background: #34C1FE88;
  }
}

.danger{
  color: #ff8080;
  background: rgba(254, 52, 136, 0.33) !important;
  border:1px solid #ff8080 !important;
  box-shadow: 0px 0px 20px rgba(255, 66, 66, 0.63), inset 0px 0px 27px 10px rgba(107, 35, 35, 0.25) !important;
}

.towers{
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 50vh;
  color: #80D9FF;
  width: 95%;
  margin: 0 auto;
  .tower{
    border-bottom: 1px solid #34C1FE;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .towerLabel{
      color: #34C1FE;
      padding: 20px 0;
      cursor: pointer;
    }
    .disk{
      background: #34C1FE55;
      padding: 10px 0;
      border:1px solid #80D9FF;
      border-radius: 100px;
      cursor: pointer;
      margin-bottom: 4px;
      box-shadow: 0px 0px 20px rgba(66, 198, 255, 0.63), inset 0px 0px 27px 10px rgba(35, 86, 107, 0.25);
    }
  }
}

.times{
  padding: 5px;
  background: #ffffff22;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
}

.results{
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background: #121726cc;
  width: 100%;
  height: 100%;
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: center;

  .results-inner{
    width: 100%;
  }

  h2{
    font-size: 4.5rem;
    margin: 0;
    text-shadow: 0 0 3px #7af50405, 0 0 25px #7af50455;
  }
  @supports (-webkit-text-stroke: 1px black) {
    h2 {
      -webkit-text-stroke: 1px #7af504;
      -webkit-text-fill-color: transparent;
    }
  }

  .score-board{
    width: 330px;
    height: 330px;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    table, caption, tbody, tfoot, thead, tr, th, td {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
    }
    th{
      padding: 5px 18px;
    }
  }
}