.text-center{
  text-align: center;
}
.towers{
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 50vh;
  color: #fff;
  .tower{
    border: 1px solid #aaa;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .towerLabel{
      color: #000;
      padding: 20px 0;
      cursor: pointer;
    }
    .disk{
      background: #555;
      padding: 10px 0;
      border: 1px solid #aaaaaa;
      border-radius: 100px;
      cursor: pointer;
    }
  }
}